@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  .main-trackCreditsModal-mainSection button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }
}
