@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";

@layer base {
  .main-trackCreditsModal-mainSection button,
  .main-addButton-button {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
